<div class="container-fluid-lg" style="background-color:red">
Hello
<table class="table">
<thead>
<th scope="col">Monday, </th>
<th scope="col">Tuesday, </th>
<th scope="col">Wednesday, </th>
<th scope="col">Thursday, </th>
<th scope="col">Friday, </th>
<th scope="col">Saturday, </th>
<th scope="col">Sunday, </th>
  </thead>
  </table>
</div>
