<%- include('partials/header') %>
<%- include('partials/navbar') %>
<a href='/dashboard/create' class="btn btn-info">Create a Company Workspace</a>
Join a Company Workspace
<%- include('partials/footer') %>
