<%- include('partials/header') %>
<%- include('partials/navbar') %>
Welcome to Workspace!
<a href='/register' class="btn btn-info">Create an Account</a>
<a href='/login' class="btn btn-info">Sign In</a>
<%- include('partials/footer') %>
