<%- include('partials/header') %>
<%- include('partials/navbar') %>
<% if (posiMsg){%>
  <%= posiMsg %>
<% } %>
<h2> Welcome to Workspace! </h2>
<br>
<a href='/register' class="btn btn-info">Create an Account</a>
<a href='/login' class="btn btn-info">Sign In</a>
<%- include('partials/footer') %>
